# Created by .ignore support plugin (hsz.mobi)
/.idea/
__pycache__
/saves/
/data/savedata.json
/build/
/data/favicon.ico
/installer.py
/exports/
/setup.py
/install.nsi
/changelog.txt
/LICENSE.txt
/data/config.json
